@use '../variable'
@use '../mixins'

#information
    @include mixins.center
    flex-direction: column
    background-color: variable.$bg-color-secondary
    padding: 1rem
    text-align: left
    width: 20%
    border-radius: variable.$card-border-radius
    margin: 1rem
    border: solid 
    

.info-card
    @include mixins.center
    justify-content: start
    gap: 1rem
    padding-bottom: .8rem
    margin-bottom: .8rem
    margin-bottom: 1px solid #444
    width: 100%
    border-top: solid red

    h3
        color: variable.$text-color-secondary
        font-size: .8rem
        margin-bottom: .7rem

    p
        color: variable.$text-color
        font-weight: bold

    svg

        background-color: variable.$bg-color-secondary !important
        padding: .20rem
        width: 2rem
        height: 5rem
        border-radius: variable.$card-border-radius
        
        svg:hover 
             color: #fff
             background-color: green
        

    #phone-icon
        color: #e93b81

    #pin-icon
        color: #6ab5b9

    #email-icon
        color: #c17ceb
